<ul id="menu">
	<li data-menuanchor="firstPage" class="active"><a href="#firstPage">Шутки в сторону</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Александр и Евгений</a></li>
	<li data-menuanchor="3rdPage"><a href="#3rdPage">Правила</a></li>
	<li data-menuanchor="4thPage"><a href="#4thPage">О нас</a></li>
	<li data-menuanchor="5thPage"><a href="#5thPage">Контакты</a></li>
	<li data-menuanchor="6thPage"><a href="#6thPage">Услуги</a></li>
	<li data-menuanchor="7thPage"><a href="#7thPage">Фото</a></li>
	<li data-menuanchor="8thPage"><a href="#8thPage">Новости</a></li>
</ul>

<div id="fullpage">
    <div class="section" id="section0">
    	<img id="logo_img" src="images/logo.png" />
    </div>
    <div class="section" id="section1"><img id="bg_01_img" src="images/bg_01__1280x.jpg" /></div>
    <div class="section" id="section2">
    	<div class="rules_wrapper">
    		<div class="info_block top">
				<p>В СООТВЕТСТВИИ С ДЕЙСТВУЮЩИМ ЗАКОНОДАТЕЛЬСТВОМ:</p>
				<p>
					организация праздников,
					<a href="http://shutki.com.ua/weddings/" title="организация свадьбы">организация свадьбы</a>,
					<a href="http://shutki.com.ua/corporative/" title="организация конференций">организация конференций</a>,
					<a href="http://shutki.com.ua/birthdays/" title="организация дня рождения">организация дня рождения</a>,
					<a href="http://shutki.com.ua/weddings/" title="организация свадеб">организация свадеб</a>,
					проведение свадеб,
					проведение праздников,
					<a href="http://shutki.com.ua/corporative/" title="роведение корпоративных мероприятий">проведение корпоративных мероприятий</a>,
					проведение корпоративов,
					<a href="http://shutki.com.ua/birthdays/" title="проведение дня рождения">проведение дня рождения</a>,
					проведение корпоративных праздников, организация и проведение праздников,
					организация и проведение корпоративов, тамада на свадьбу,
					ведущий на свадьбу возлагается на <a href="http://shutki.com.ua/about/" title="ДУЭТ ШУТКИ В СТОРОНУ">ДУЭТ «ШУТКИ В СТОРОНУ»</a>!
				</p>
				<p>
					ЛИЦАМ ДО 18 ЛЕТ ЗНАКОМСТВО С СОДЕРЖИМЫМ САЙТА РАЗРЕШЕНО! ПОСЛЕ ПРОХОЖДЕНИЯ НАШЕГО IQ-ТЕСТА:
				</p>
				<p>Каждый землянин втайне мечтает о том (выберите правильные ответы):</p>
    		</div>
    		<div class="info_block left">
				<p>
					1. ЧТОБЫ <a href="http://shutki.com.ua/weddings/" title="ВЕДУЩИЙ НА СВАДЬБУ">ВЕДУЩИЙ НА СВАДЬБУ</a> БЫЛ:
				</p>
				<p>
					А) Александр Литвин &amp; Евгений Лагутин;<br>
					Б) Евгений Лагутин &amp; Александр Литвин;<br>
					В) Дуэт «Шутки в сторону».
				</p>
    		</div>
    		<div class="info_block right">
				<p>
					2. ЧТОБЫ <a href="http://shutki.com.ua/prom/" title="ОРГАНИЗАЦИЯ ПРАЗДНИКОВ">ОРГАНИЗАЦИЯ ПРАЗДНИКОВ</a> ЛЕГЛА НА ПЛЕЧИ:
				</p>
				<p>
					А) Дуэта «Шутки в сторону»;<br>
					Б) Александра Литвина &amp; Евгения Лагутина;<br>
					В) Евгения Лагутина &amp; Александра Литвина.
				</p>
			</p>
    		</div>
    		<div class="info_block left bot">
    			<p>
    				3. ЧТОБЫ <a href="http://shutki.com.ua/corporative/" title="Корпоративы">ОРГАНИЗАЦИЯ КОНФЕРЕНЦИЙ И ПРОВЕДЕНИЕ КОРПОРАТИВНЫХ МЕРОПРИЯТИЙ</a> ПРОШЛИ С УЧАСТИЕМ:
    			</p>
    			<p>
					А) Евгения Лагутина &amp; Александра Литвина;<br>
					Б) Дуэта «Шутки в сторону»;<br>
					В) Александра Литвина &amp; Евгения Лагутина.
				</p>
    		</div>
    		<div class="info_block right bot">
				<p>
					4. ЧТОБЫ ВСЕГДА СИМВОЛОМ СЛОВ «<a href="http://shutki.com.ua/birthdays/" title="ОРГАНИЗАЦИЯ ДНЯ РОЖДЕНИЯ">ОРГАНИЗАЦИЯ ДНЯ РОЖДЕНИЯ</a>» &amp; «<a href="http://shutki.com.ua/birthdays/" title="ПРОВЕДЕНИЕ ДНЯ РОЖДЕНИЯ">ПРОВЕДЕНИЕ ДНЯ РОЖДЕНИЯ</a>» ДЛЯ ВАС БЫЛИ :
				</p>
				<p>
					А) ДУЭТ «ШУТКИ В СТОРОНУ»;<br>
					Б) ДУЭТ «ШУТКИ В СТОРОНУ»;<br>
					В) ДУЭТ «ШУТКИ В СТОРОНУ».
				</p>
    		</div>
    		<div class="info_block bottom">
				<p>ПОЗДРАВЛЯЕМ! ВЫ ПРАВИЛЬНО ОТВЕТИЛИ НА ВСЕ ВОПРОСЫ
				ТЕСТА И ПЕРЕХОДИТЕ НА СЛЕДУЮЩИЙ УРОВЕНЬ ИГРЫ, ТАК
				ПОХОЖЕЙ НА ЖИЗНЬ, НА СЛЕДУЮЩИЙ УРОВЕНЬ ЖИЗНИ, ТАК
				ПОХОЖЕЙ НА ПРАЗДНИК!</p>
    		</div>
    	</div>
    </div>
    <div class="section" id="section3">
    	<div class="about_section_wrapper">
	    	<div class="about_info">
	    		<div class="text">
		    		<h1 id="title_about_us">О нас</h1>
		    		<h2 id="subtitle_about_us">Дуэт «Шутки в сторону»</h2>
		    		<br />
		    		<p id="about_par1">Дорогие друзья! Мы не можем похвастаться титулами, званиями… мы не «заслуженные», мы не «народные»… но мы гордимся тем, что 98% людей, которые обращались к нам – снова приходят, звонят, просят подарить радость встречи… друзья друзей и их друзья…. Они – наша большая и дружная семья, вход в которую – всегда открыт! Достучаться до души, зажечь сердце, наполнить его нежностью и любовью – вот чего мы хотим, когда берем в руки микрофон и выходим на сцену.</p>
		    		<p id="about_par2">Искренне Ваши, Александр Литвин &amp; Евгений Лагутин.</p>
	    		</div>
	    	</div>
    	</div>
    </div>
    <div class="section" id="section4">
    	<div class="contacts_wrapper">
    		<div class="header"></div>
    		<div class="main">
    			<div class="content">
					<div id="DIV_1">
						<h4 id="H4_2">
							Проведение мероприятий:
						</h4>
						<h6 id="H6_3">
							тел. (067) 494-47-66
						</h6>
						<h6 id="H6_5">
							тел. (096) 656-36-55
						</h6>
						<h6 id="H6_51">
							тел. (095) 824-85-55
						</h6>

						<h4 id="H4_6">
							Эл. почта:
						</h4>
						<h6 id="H6_8">
							<a href="mailto:litvin71@gmail.com" id="A_9">litvin71@gmail.com</a>
						</h6>
						<h6 id="H6_11">
							<a href="mailto:weekend-group@ukr.net" id="A_12">weekend-group@ukr.net</a>
						</h6>
					</div>

					<div class="buttons">
						Наши кнопки: <br /><br />

						<img src="images/batn.gif" />
						<img src="images/batn2.gif" />

					</div>
    			</div>
    			<div class="info">
					<div class="text">
						<h1>Контакты</h1>
						<p>
						Дуэт «Шутки в сторону» - Работаем – КРУГЛОСУТОЧНО! Стоимость звонков – в соответствии с
						тарифной политикой Вашего провайдера! Пишите и звоните нам!
						</p>
					</div>

					<div class="photo">
						<img src="images/photo_cont.jpg" />
					</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="section" id="section5">
    	<div class="offer_wrapper">
    		<div class="container" id="offer_1">
    			<div class="inner" id="offer_1_img"><img src="images/bg_1.jpg" /></div>
    			<div class="title" id="offer_1_txt">Свадьбы</div>
    			<div class="icon" id="offer_1_ico"><img src="images/ic_svadba.png" /></div>
    		</div>
    		<div class="container" id="offer_2">
    			<div class="inner" id="offer_2_img"><img src="images/bg_3.jpg" /></div>
    			<div class="title" id="offer_2_txt">Выпускные вечера</div>
    			<div class="icon" id="offer_2_ico"><img src="images/ic_prom.png" /></div>
    		</div>
    		<div class="container" id="offer_3">
    			<div class="inner" id="offer_3_img"><img src="images/bg_4.jpg" /></div>
    			<div class="title" id="offer_3_txt">Корпоративы</div>
    			<div class="icon" id="offer_3_ico"><img src="images/ic_corporativ.png" /></div>
    		</div>
    		<div class="container" id="offer_4">
    			<div class="inner" id="offer_4_img"><img src="images/bg_5.jpg" /></div>
    			<div class="title" id="offer_4_txt">Дни Рождения</div>
    			<div class="icon" id="offer_4_ico"><img src="images/ic_birthday.png" /></div>
    		</div>
    		<div class="container" id="offer_5">
    			<div class="inner" id="offer_5_img"><img src="images/bg_6.jpg" /></div>
    			<div class="title" id="offer_5_txt">Розыгрыши</div>
    			<div class="icon" id="offer_5_ico"><img src="images/ic_rozygryshu.png" /></div>
    		</div>
    	</div>
    </div>
    <div class="section" id="section6">
    	<div class="photo_wrapper">
    		<div class="slide">
	    		<div class="header"></div>
	    		<div class="grid" id="grid1_id">
					  <div class="grid-item"><a href="images/gallery/001/0000067.JPG" data-lightbox="gallery1"><img src="images/gallery/001/0000067.JPG" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/02_medium.jpg" data-lightbox="gallery1"><img src="images/gallery/001/02_medium.jpg" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/031.JPG" data-lightbox="gallery1"><img src="images/gallery/001/031.JPG" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/082.JPG" data-lightbox="gallery1"><img src="images/gallery/001/082.JPG" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/12.jpg" data-lightbox="gallery1"><img src="images/gallery/001/12.jpg" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/4I5C0368.JPG" data-lightbox="gallery1"><img src="images/gallery/001/4I5C0368.JPG" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/83.JPG" data-lightbox="gallery1"><img src="images/gallery/001/83.JPG" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/84.JPG" data-lightbox="gallery1"><img src="images/gallery/001/84.JPG" /></a></div>
				</div>
		    </div>
		    <div class="slide">
	    		<div class="header"></div>
	    		<div class="grid" id="grid1_id">
					  <div class="grid-item"><a href="images/gallery/001/DSC04171.JPG" data-lightbox="gallery2"><img src="images/gallery/001/DSC04171.JPG" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/DSC_1137.jpg" data-lightbox="gallery2"><img src="images/gallery/001/DSC_1137.jpg" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/IMG_1539д.jpg" data-lightbox="gallery2"><img src="images/gallery/001/IMG_1539д.jpg" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/k_-_06.jpg" data-lightbox="gallery2"><img src="images/gallery/001/k_-_06.jpg" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/k_-_08.jpg" data-lightbox="gallery2"><img src="images/gallery/001/k_-_08.jpg" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/k_-_09.jpg" data-lightbox="gallery2"><img src="images/gallery/001/k_-_09.jpg" /></a></div>
					  <div class="grid-item"><a href="images/gallery/001/Z_F2.jpg" data-lightbox="gallery2"><img src="images/gallery/001/Z_F2.jpg" /></a></div>
				</div>
			</div>
    	</div>
    </div>
    <div class="section" id="section7">
    	<div class="news_wrapper">
    		<div class="header"></div>
    		<div class="slide">
    			<a href="images/blog/1402_poster_stolypin.jpg" data-lightbox="blog1">
    				<img src="images/blog/1402_poster_stolypin.jpg" />
    			</a>
    		</div>
    		<div class="slide">
    			<div class="text_news">
	    			<p class="xlarge">
					ГДЕ И КОГДА ВЫСТУПАЕМ
					</p>
					<p class="large">
					НОВЫЙ ГОД 2014
					</p>
					<br /><br />
					<p>
					С Вами весь вечер дуэт комедийно-пародийного жанра «Шутки в сторону», в исполнении которого Вы увидите:
					</p>
					<br />
					<p>
					- зажигательный бразильский карнавал от Донны Розы и настоящий английский юмор от полковника Чеснея;
					</p>
					<p>
					- первое в истории совместное поздравление от Деда Мороза и Санта Клауса;
					</p>
					<p>
					- новогодние эротические приключения  Свирида Перовича Голохвастого и Прони  Прокоповны;
					</p>
					<p>
					- океан живой музыки (вокал и саксофон) и оригинальные конкурсы с незабываемыми призами!
					</p>
				</div>
    		</div>
    		<div class="slide">
    			<a href="images/blog/170983.jpg" data-lightbox="blog1">
    				<img src="images/blog/170983.jpg" />
    			</a>
    		</div>
    		<div class="slide">
    			<a href="images/blog/imagefebruary_23.jpg" data-lightbox="blog1">
    				<img src="images/blog/imagefebruary_23.jpg" />
    			</a>
    		</div>
    		<div class="slide">
    			<a href="images/blog/imagenamfiveyears.jpg" data-lightbox="blog1">
    				<img src="images/blog/imagenamfiveyears.jpg" />
    			</a>
    		</div>
    		<div class="slide">
    			<a href="images/blog/22.jpg" data-lightbox="blog1">
    				<img src="images/blog/22.jpg" />
    			</a>
    		</div>
    	</div>
    </div>
</div>

<div class="modal" id="modal_1">
	<button type="button" class="close">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>

    <div class="image">
    	<img src="images/bg_1.jpg" />
    </div>

    <div class="info">
	    <h4 class="title">Свадьбы</h4>
	    <h4 class="subtitle">Организация свадьбы</h4>
		<p>
			Вы в преддверии самого значимого и торжественного события в Вашей жизни – свадьбы! Вы переживаете, что на
			Вашей свадьбе будет происходить то же самое, что и на всех предыдущих, на которых Вам приходилось бывать
			ранее? Вы волнуетесь, что ведущий на свадьбу или тамада на свадьбу будет недостаточно интеллигентен,
			банален и зауряден?
		</p>
		<p>
			Мы предлагаем Вам «под ключ» организацию и проведение свадеб по оригинальному, не «заезженному» сценарию
			и отдельные свадебные услуги высокого качества по доступным ценам.
		</p>
		<p>
			Организация праздников, проведение праздников для нас – это всегда индивидуальный подход. Как бы ни
			виделась Вам Ваша свадьба: роскошным венецианским карнавалом или небольшой вечеринкой для друзей – мы
			гарантируем, что с дуэтом комедийно-пародийного жанра «Шутки в сторону» она пройдет весело и необычно,
			принесет Вам радость и только положительные эмоции.
		</p>
		<p>
			С нами подготовка и организация свадеб уложится в несколько простых шагов:
		</p>
		<p>
			1. Встреча ведущих с молодоженами, на которой:
		</p>
		<p>
			- мы ответим на все вопросы, касающиеся организации и проведения свадьбы (от выбора зала проведения
			свадебного банкета до расселения Ваших гостей…);
		</p>
		<p>
			- поможем определиться в выборе музыкального сопровождения и стиле проведения Вашего торжества;
		</p>
		<p>
			- составим примерный сценарный план свадьбы и свадебную смету;
		</p>
		<p>
			2. Заключение договора;
		</p>
		<p>
			3. Дружеский подход и внимание, который мы предложим именно Вам!
		</p>
    </div>
</div>

<div class="modal" id="modal_2">
	<button type="button" class="close">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>

    <div class="image">
    	<img src="images/bg_3.jpg" />
    </div>

    <div class="info">
		<h4 class="title">Выпускные вечера</h4>
		<h4 class="subtitle">Организация праздников</h4>
		<p>
			Неумолимо приближается день выпускного бала. Школьники грустят в преддверии расставания с
			одноклассниками, девочки обсуждают выпускные наряды и прически, а перед родителями теперь
			стоит задача организовать для любимых чад веселый, но приличный праздничный досуг, чтобы у
			них не оставалось времени для глупостей. Без грамотной организации праздника даже самый пышный
			выпускной бал может оказаться унылым и неинтересным.
		</p>
		<p>
			Дуэт «Шутки в сторону» предлагает Вам реализацию любых, даже самых невероятных, идей! С нами, даже
			выбор классической развлекательной программы, отнюдь не предполагает заезженные сценарии и штампы.
			Мы не сторонники шаблонов, и пусть первый, кто в этом усомнится, кинет в нас камнем. Напротив, с
			учётом Ваших пожеланий и наших возможностей у организации выпускного бала есть все возможности
			превратиться в феерическое шоу.
		</p>
		<p>
			В организации и проведении выпускного вечера мы также не забудем про педагогов и про родителей
			выпускников! На этом празднике мы сотрем проблему «отцов и детей» и  сделаем все, чтобы угодить
			шоу программой, конкурсами и розыгрышами всем поколениям, присутствующим на торжестве!
		</p>
		<p>
			Конечно же, ни один выпускной вечер немыслим без дискотеки, а поэтому в паре с ведущими непременно
			будет работать Dо, оснащенный самой современной по снгодняшним меркам свето и звукоаппаратурой.
		</p>
		<p>
			Мы превратим Ваш выпускной бал в шоу мирового масштаба! Мы не обещаем – мы просто делаем!
		</p>
		<p>
			Киев – это город, который привык гулять на широкую ногу. Выпускной вечер – это отличный повод
			для шумной, веселой и длинной вечеринки. Зачем же отказывать себе в этом удовольствии?!
		</p>
    </div>
</div>

<div class="modal" id="modal_3">
	<button type="button" class="close">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>

    <div class="image">
    	<img src="images/bg_4.jpg" />
    </div>

    <div class="info">
		<h4 class="title">Корпоративы</h4>
		<h4 class="subtitle">Организация корпоративов</h4>
		<p>
			У Вас намечается корпоративная вечеринка? Фантазии в избытке, но не хватает времени на организацию
			праздника? Вы солидарны с утверждением, что организация и проведение праздников – это целое искусство,
			которое нужно доверить профессионалам!
		</p>
		<p>
			Мы рады предложить Вам множество оригинальных номеров, в нашем исполнении, выполненных с душой и в
			отличном оформлении.
		</p>
		<p>
			В праздничном меню дуэта «Шутки в сторону» сценарии на все случаи жизни. Вариантов проведения
			корпоративных праздников астрономически много, поэтому важнейшей деталью мы считаем индивидуальность
			каждого мероприятия.
		</p>
		<p>
			Современное проведение корпоративных праздников не должно быть очередным обычно-банальным праздником
			со стандартным сценарием и многовековой схемой: пафосное начало, пьяная середина и еле стоящая на
			ногах концовка. Дуэт «Шутки в сторону» не имеет никакого отношения к подобным торжествам!
		</p>
		<p>
			Проведение праздников с дуэтом комедийно-пародийного жанра  «Шутки в сторону» превращается в веселое,
			яркое и бесконечное шоу, которым руководят харизматичные ведущие, работающие в паре, что само по себе
			уже является театрализованным представлением!
		</p>
		<p>
			P.S. И так, вы набираете в поисковике: проведение корпоративных мероприятий Киев. И что вы видите –
			тысячи предложений: организация и проведение корпоративов, проведение корпоративов, организация
			праздников, самое современное решение, лучшие сценарии, ведущий на корпоративный праздник, незабываемый
			фейерверк волшебства, искрометный юмор,  и т.д. Тут главное – не ошибиться в выборе и вовремя
			прислушаться к себе, чтобы потом не было мучительно больно…
		</p>
		<p>
			Ведь праздник состоит из мелочей, и далеко не все ведущие понимают, что их главная задача – уследить
			и проконтролировать каждую из них!
		</p>
    </div>
</div>

<div class="modal" id="modal_4">
	<button type="button" class="close">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>

    <div class="image">
    	<img src="images/bg_5.jpg" />
    </div>

    <div class="info">
		<h4 class="title">Дни Рождения</h4>
		<h4 class="subtitle">Организация дня рождения</h4>
		<p>
			Смеем предположить, что у Вас или Ваших близких людей приближается значимое событие в личной
			жизни! Наверняка целый год Вы ждёте этот день, чтобы получить радость, веселье, внимание любимых,
			подарки и, конечно же, именинный торт, но организация Дня рождения не входит в Ваши планы…
		</p>
		<p>
			Доверьте проведение дня рождения или юбилея профессионалам, которые зарекомендовали себя на
			рынке развлекательных услуг и пользуются заслуженной популярностью у зрителей! С дуэтом «Шутки
			в сторону», организация дня рождения, проведение дня рождения будет проходит с учетом всех Ваших
			пожеланий и вкусов. Артистическое сопровождение, конкурсная программа, авторские репризы,
			звуко-шумо-свето и любое другое, мыслимое и немыслимое сопровождение – по желанию благородных
			господ-заказчиков!
		</p>
		<p>
			Наше кредо: не повторяется такое никогда! Мы создаем и воплощаем в жизнь исключительно оригинальные,
			авторские программы, способные удовлетворить самого взыскательного клиента,  мы превращаем даты – в
			события, будни – в праздники души! Отдыхайте и наслаждайтесь этим днём, а дуэт "Шутки в сторону"
			сделает его самым ярким событием в Вашей жизни.
		</p>
    </div>
</div>

<div class="modal" id="modal_5">
	<button type="button" class="close">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>

    <div class="image">
    	<img src="images/bg_6.jpg" />
    </div>

    <div class="info">
		<h4 class="title">Розыгрыши</h4>
		<p>
			Вы веселый человек, цените хороший юмор и любите розыгрыши и сюрпризы? А может Вы в раздумьях, что
			подарить человеку, у которого есть все, или практически все? А может Вы решили разыграть человека,
			привыкшего держать все под контролем? Специально для Вас дуэт комедийно-пародийного жанра
			“Шутки в сторону” предлагает услугу по организации оригинальных розыгрышей именинников и юбиляров,
			подготовке невероятных сюрпризов, случайностей и совпадений, а также сверхреальных оригинальных
			поздравлений V.I.P уровня:
		</p>
		<p>
			мы придумаем эксклюзивный розыгрыш на любой случай жизни, будь то день рождения, свидание,
			свадьба, праздник или торжество;
		</p>
		<p>
			мы напишем оригинальный сценарий проведения розыгрыша, сюрприза и подберем все необходимые
			реквизиты и артистов.
		</p>
		<p>
			У вас уже есть свой сценарий или идея? Отлично! Приходите к нам, и:
		</p>
		<p>
			мы поможем Вам воплотить в жизнь любую, даже самую фантастическую идею! Но,
		</p>
		<p>
			мы не берем в работу розыгрыши, противоречащие законам Украины. И,
		</p>
		<p>
			мы гарантируем конфиденциальность проводимых мероприятий и вносим этот пункт в договор.
		</p>
		<p>
			Масса впечатлений и необычность ситуации, взрыв адреналина и положительные эмоции – ГАРАНТИРУЕМ!
		</p>
    </div>
</div>
